export repo_root=$(git rev-parse --show-toplevel || pwd)
# currently renamed to ~/.ansible.cfgk to prevent it being parsed
#export ANSIBLE_CONFIG=$HOME/git/home-dir-stuff/.ansible.cfg  # default: ~/.ansible.cfg
# for some reason, ANSIBLE_INVENTORY must have a trailing forward slash if not pointing at a file
# https://docs.ansible.com/ansible/latest/reference_appendices/config.html#envvar-ANSIBLE_INVENTORY
export ANSIBLE_INVENTORY=$repo_root/ansible-dev/inventory/

export KUBECONFIG=$PWD/kubeconfig
export NODE_PREFIX=$(echo ${PWD##*/}|cut -c1)
export pnmf="https://cloud.weave.works/k8s/net?k8s-version=Q2xpZW50IFZlcnNpb246IHZlcnNpb24uSW5mb3tNYWpvcjoiMSIsIE1pbm9yOiIyMyIsIEdpdFZlcnNpb246InYxLjIzLjAiLCBHaXRDb21taXQ6ImFiNjk1MjRmNzk1YzQyMDk0YTY2MzAyOThmZjUzZjNjM2ViYWI3ZjQiLCBHaXRUcmVlU3RhdGU6ImNsZWFuIiwgQnVpbGREYXRlOiIyMDIxLTEyLTA3VDE4OjE2OjIwWiIsIEdvVmVyc2lvbjoiZ28xLjE3LjMiLCBDb21waWxlcjoiZ2MiLCBQbGF0Zm9ybToibGludXgvYW1kNjQifQpTZXJ2ZXIgVmVyc2lvbjogdmVyc2lvbi5JbmZve01ham9yOiIxIiwgTWlub3I6IjIzIiwgR2l0VmVyc2lvbjoidjEuMjMuMSIsIEdpdENvbW1pdDoiODZlYzI0MGFmOGNiZDFiNjBiY2M0YzAzYzIwZGE5Yjk4MDA1YjkyZSIsIEdpdFRyZWVTdGF0ZToiY2xlYW4iLCBCdWlsZERhdGU6IjIwMjEtMTItMTZUMTE6MzQ6NTRaIiwgR29WZXJzaW9uOiJnbzEuMTcuNSIsIENvbXBpbGVyOiJnYyIsIFBsYXRmb3JtOiJsaW51eC9hbWQ2NCJ9Cg=="

# auto-motd
cat=$(which bat)
for f in .motd motd motd.md; do
 test -f $f && ${cat:-cat} ${cat:+-l md} $f && break
done

# inline motd
cat=$(which bat)
# needs to evaluate variables to use  the correct prefix
cat<<\EOF | ${cat:-cat} ${cat:+-l md}
## Provision

```bash
ANSIBLE_HOST_KEY_CHECKING=false ansible-playbook install_kubernetes_with_ansible/package_install.yml -l "${NODE_PREFIX?}ubemaster"
ANSIBLE_HOST_KEY_CHECKING=false ansible-playbook install_kubernetes_with_ansible/cluster_init.yml -l "${NODE_PREFIX?}ubemaster" -e pod_network_cidr=10.244.0.0/16 -e k8s_master_ip=192.168.56.2 -e pod_network_manifest_file="${pnmf?}" -e rbac_manifest_file=""
vagrant ssh lubemaster -- "cat ~/.kube/config" > kubeconfig
ANSIBLE_HOST_KEY_CHECKING=false ansible-playbook install_kubernetes_with_ansible/create_user.yml -l "${NODE_PREFIX?}ubemaster"
ANSIBLE_HOST_KEY_CHECKING=false ansible-playbook install_kubernetes_with_ansible/setup_workers.yml -l "${NODE_PREFIX?}ubenode*"
```
EOF
